
Übung 1/data/5_Labels_all/top_potsdam_2_13_label.tif
Übung 1/data/4_Ortho_RGBIR/top_potsdam_2_13_RGBIR.tif
Übung 1/data/1_DSM_normalisation/dsm_potsdam_02_13_normalized_lastools.jpg
Übung 1/data/1_DSM_normalisation/dsm_potsdam_03_14_normalized_lastools.jpg
Übung 1/data/4_Ortho_RGBIR/top_potsdam_3_14_RGBIR.tif
Übung 1/data/5_Labels_all/top_potsdam_3_14_label.tif
Übung 1/src/test_nadim.m
